
  <div class=" col-8 offset-2 ">


    <kendo-grid style=" text-align:center"  [kendoGridBinding]='data' [resizable]='true' [filterable]='true'
    [groupable]='true'[sortable]="{
      allowUnsort:true,
      mode:'single'
    }
    "
    [pageable]="{
      buttonCount:3,
      pageSizes:[10,50,100]
    }"
    [pageSize]="5"
    [groupable]="true"
    [columnMenu]="{ filter: true }"
    >
   
            <kendo-grid-column-group [columnMenu]=" false "  title="Department ">

              <kendo-grid-column field="id"  title="id"></kendo-grid-column>
              <kendo-grid-column field="Name"  title="Name"></kendo-grid-column>
              <kendo-grid-column field="Email"  title="Email"></kendo-grid-column>
              <kendo-grid-column field="id" title="Action"> 
                <ng-template kendoGridCellTemplate let-dataItem>
                  <!-- <span *ngIf="dataItem.ProductID == 1" class="badge badge-success">Online</span> -->
                  <button class="btn-success m-2" kendoButton  [icon]="'trash'" (click)="opendia(dataItem.id)"> Details</button>

              </ng-template>
              </kendo-grid-column>


            </kendo-grid-column-group>

       
    </kendo-grid>
  </div>

<div>






</div>
